ul > li{
    padding: 4px;
    font-size: 20px;
}
.success{
    background-color: green;
    color: white;
}

.error{
    background-color:red;
    color: white;
}

.happy{
    background-color: darkseagreen;
    color: white;
}

.sad{
    background-color: crimson;
    color: white;
}



